#python缓存
__pycache__/

#性能测试结果
performance/

#进化中保存的算子
saved_codes/*
!.gitkeep

#不同站点的apikey的配置
set_env/

#向量模型缓存
RAG/.hf_cache/

#向量知识库以及索引
RAG/knowledge/

#调试脚本
#test/

#项目文档
#doc/

#原始项目种子
#datasets2/

