#python缓存
__pycache__/

#性能测试结果
performance/

#进化中保存的算子
saved_codes/*
!.gitkeep

#不同站点的apikey的配置
set_env/set_api_deepseek.sh
set_env/set_api_huoshan.sh
set_env/set_api_siliconflow.sh
set_env/set_api.sh

#向量模型缓存
RAG/.hf_cache/

#向量知识库以及索引
RAG/knowledge/

#调试脚本
test/